@font-face {
  font-family: 'Marvel';
  src: url('./my_fonts/the-fontry_avengeance/AVENGEANCE HEROIC AVENGER BD.ttf') format('truetype');
}


h2{
  font-family: "Marvel", Times, serif;
  color: white;
  font-size: 50px;
  text-align: center;
}

body{
  font-family: "Marvel", Times, serif;
  color: white;
  font-size: 50px;
  background-color: #e23636;
}

ul {
  font-family: "Marvel", Times, serif;
  color: white;
  font-size: 50px;
  background-color: #e23636;
  text-align: center;
}

p{
  font-family: "Marvel", Times, serif;
  color: white;
  font-size: 50px;
  background-color: #e23636;
  text-align: center;
}

h4 {
  text-align: center;
}

.image {
  margin: auto;
}

#logo{
  text-align: center;
}


#button-wrapper {
  text-align:center;
}
